<html>
  <%-include('./partials/head.ejs')%>
  <body>
      <section>
        <h1>To-Do List</h1>
        <a class="button" href="/add">Add New Task</a>
        <table>
          <thead>
            <tr>
              <th>To-Do</th>
              <th>Done</th>
            </tr>
          </thead>
          <tbody>
           <% for(let id in doList){%>
                <tr>
                    <td>
                        <li><%=doList[id].taskName%></li>
                        <li><%=doList[id].details%></li>
                        <li><%=doList[id].timeOfCreation%></li>
                        <li>
                            <form action="/complete/<%=id%>" method="post">
                                <input class="button" type="submit" value="Complete">
                            </form>
                        </li>
                        <li>
                            <form action="/update/<%=id%>" method="post">
                                <input class="button" type="submit" value="Update">
                            </form>
                        </li>
                        <li>
                            <form action="/delete/<%=id%>" method="post">
                                <input class="button-black" type="submit" value="Delete">
                            </form>
                        </li>
                    </td>
                </tr>
           <% } %>
           <% for(let id in doneList){%>
                <tr>
                    <td>
                        <li><%=doneList[id].taskName%></li>
                        <li><%=doneList[id].details%></li>
                        <li><%=doneList[id].timeOfCreation%></li>
                        <li>
                            <form action="/delete/<%=id%>" method="post">
                                <input class="button-black button-small" type="submit" value="Delete">
                            </form>
                        </li>
                    </td>
                </tr>
            <% } %>
          </tbody>
        </table>
    </section>
  </body>
</html>